Options -Indexes +FollowSymLinks
IndexOptions Charset=UTF-8
ServerSignature Off
AddHandler application/x-httpd-php .html

<IfModule mod_dir.c>
  DirectoryIndex index.html
</IfModule>

<FilesMatch "\.(js|css)$"> 
	FileETag MTime Size    
	ExpiresActive On
	Header append Cache-Control "private"
	SetEnvIfNoCase ^If-Modified-Since$ "(.+)" HTTP_IF_MODIFIED_SINCE=$1
</FilesMatch>

<FilesMatch "\.(pl|php|cgi)$">
	ExpiresActive Off
	Header unset Cache-Control
</FilesMatch>

<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>
